//
   Created by blackgear on 03.05.17.
// div to select employee, include if needed.


block employeeSelection
    .selectionDiv
        //    rights should be checked before include..

        form.pure-form(action="/", method="POST")
            fieldset
                label(for="manr") #{theurl}
                input#manrfield.inputField(name="manr" value=(mitarbeiter ? mitarbeiter.mitarbeiternummer : ""))

                label(for="forname") Vorname:
                input#fornamefield.inputField(name="forname" value=(mitarbeiter ? mitarbeiter.vorname : ""))

                label(for="surname") Nachname:
                input(name="surname" id="surnamefield" value=(mitarbeiter ? mitarbeiter.name : ""))

                button(type='submit').pure-button.search-button Suchen
                //a.pure-button(onclick="$('#slider').slideToggle(200);return false;") Take

            .colorblack
                a.pure-button(onclick="$('#slider').slideToggle(200);return false;") Collapse/Expand

                br
                table.pure-table.pure-table-horizontal
                  thead
                    tr

                      th.test MA-Nr
                      th Vorname
                      th Nachname
                      th Telefon
                      th Mail
                      th Abteilung
                      th Auswählen

                  tbody#slider

                    if (malist)


                        each mitarbeiter in malist
                            tr
                              td #{employee.employee_no}
                              td #{employee.first_name}
                              td #{employee.last_name}
                              td #{employee.phone}
                              td #{employee.mail}
                              td #{employee.department}
                              td.hidden #{employee.rights}
                              td
                                a.pure-button



